<div class="row scrollpane">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">

    <div class="card card-signin my-5">
      <div class="card-body">

        <div>
          <h5 class="card-title text-center">Sign up</h5>
          <mat-spinner *ngIf="loading" [diameter]="30"></mat-spinner>
        </div>

        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="form-signin">

          <div class="form-label-group">
            <input type="text" id="firstName" class="form-control" formControlName="firstName" placeholder="First name"
              required autofocus>
            <label for="lastName">First name</label>
          </div>

          <div class="form-label-group">
            <input type="text" id="lastName" class="form-control" formControlName="lastName" placeholder="Last name"
              required autofocus>
            <label for="lastName">Last name</label>
          </div>

          <div class="form-label-group">
            <input type="email" id="username" class="form-control" formControlName="username" placeholder="Username"
              required autofocus>
            <label for="username">Username</label>
          </div>

          <div class="form-label-group">
            <input type="email" id="email" class="form-control" formControlName="email" placeholder="Email address"
              required autofocus>
            <label for="email">Email address</label>
          </div>

          <div class="form-label-group">
            <input type="password" id="password" class="form-control" formControlName="password" placeholder="Password"
              required>
            <label for="password">Password</label>
          </div>

          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input" id="staySignedInCheckBox" type="checkbox"
              formControlName="staySignedIn">
            <label class="custom-control-label" for="staySignedInCheckBox">Stay signed in</label>
          </div>

          <ngb-alert *ngIf="error" class="alert-danger" (close)="close()">{{ error }}</ngb-alert>

          <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit"
            [disabled]="!signupForm.valid">Sign up</button>

          <p class="signinLink">
            <a routerLink="/signin" style="cursor: pointer;">sign in</a>
          </p>

          <hr class="my-4">
          <button class="btn btn-lg btn-google btn-block text-uppercase" type="button">Sign up with
            Google</button>
          <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="button">Sign up with
            Facebook</button>

        </form>

      </div>
    </div>

  </div>
</div>