<div class="menu">

  <button (click)="onCreateDirect()" class="menu_one" type="button">
    <fa-icon [icon]="createDirectIcon"></fa-icon>
  </button>

  <button (click)="onCreateGroup()" class="menu_many" type="button">
    <fa-icon [icon]="createGroupIcon"></fa-icon>
  </button>

</div>

<div class="list-group special">

  <a *ngFor="let threadListItem of threadListItems; let i = index" (mouseenter)="showOptionsButton(i)"
    (mouseleave)="hideOptionsButton(i)" (click)="onSelectThread(threadListItem.thread._id)"
    routerLink="{{ threadListItem.thread._id }}" routerLinkActive="myActive"
    class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <ng-template [ngIf]="threadListItem.thread.type === 'direct'">
        <h5 *ngIf="threadListItem.thread.participants[0]._id != userId" class="mb-1">
          {{ threadListItem.thread.participants[0].username }}</h5>
        <h5 *ngIf="threadListItem.thread.participants[1]._id != userId" class="mb-1">
          {{ threadListItem.thread.participants[1].username }}</h5>
      </ng-template>

      <ng-template [ngIf]="threadListItem.thread.type === 'group'">
        <h5 class="mb-1">{{ threadListItem.thread.title }}</h5>
      </ng-template>

      <small>{{ threadListItem.thread.lastActivity | date }}</small>
    </div>

    <small
      *ngIf="threadListItem.thread.lastMessage">{{ threadListItem.thread.lastMessage.content | shorten:30 }}</small>

    <button [matMenuTriggerFor]="optionsMenu" class="options_button remove_outline"
      [ngClass]="{ hidden: threadListItem.optionsButtonShown === false }">
      <fa-icon [icon]="optionsButtonIcon"></fa-icon>
    </button>
    <mat-menu class="remove_outline" #optionsMenu="matMenu">
      <button mat-menu-item class="remove_outline">Delete chat</button>
      <button mat-menu-item class="remove_outline">Update title</button>
      <button mat-menu-item class="remove_outline">Manage users</button>
    </mat-menu>

  </a>

</div>